/* css/root.css */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@300;400;500;600&display=swap');

:root {
    --font-main: 'Alata', sans-serif;
    --font-secondary:'Inter', sans-serif;
    /* Font Sizes */
    --fs-xs: 0.75rem;   /* 12px - Captions */
    --fs-sm: 0.875rem;  /* 14px - Small labels */
    --fs-base: 1rem;    /* 16px - Body text */
    --fs-md: 1.25rem;   /* 20px - Subheadings */
    --fs-lg: 1.5rem;    /* 24px - Section headers */
    --fs-xl: 2.25rem;   /* 36px - Main Hero Titles */

    /* Font Weights */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;

    /* --- Color Palette --- */
    --primary-color: #68A691;
    --primary-dark: #FFE5D4 ;
    --accent-color: #694F5D;        /* For links or call-to-action */
    --bg-dark: #0f172a;             /* Deep Navy/Black for the background */
    --text-main: #343434;           /* Off-white for readability */
    --text-muted: #a6a6a6;          /* Gray for subtitles */

    /* --- Glassmorphism Values --- */
    --glass-bg: rgba(255, 255, 255, 0.05);     /* Transparent white */
    --glass-border: rgba(255, 255, 255, 0.1);  /* Subtle edge */
    --glass-blur: blur(12px);                  /* The "frosted" effect */
    
    /* --- Spacing & Radius --- */
    --radius-sm: 8px;
    --radius-md: 15px;
    --radius-lg: 25px;
    --padding-std: 1.5rem;
}