<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BorrowBox</title>

  <!-- Link CSS -->
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <ul class="nav-left">
      <li><a href="#">Home</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="nav-center">
      <h1>BorrowBox</h1>
    </div>

    <div class="nav-right">
      <button class="login-btn">Login</button>
    </div>
  </nav>

  <!-- Page content placeholder -->
  <!-- Hero Section -->
  <section class="hero">
  <div class="hero-content">
    <h1>Borrow Anything, Anytime — The Smart Way with <span>BorrowBox</span></h1>
    <p>
      From electronics to books, tools to accessories
      borrow or lend items easily and securely in one place.
    </p>
    <button class="hero-btn">Start Borrowing</button>
  </div>

  <div class="hero-image">
    <img src="../assets/images/controller.png" alt="BorrowBox" />
  </div>
  <section class="carousel-section">
    <h2>Recently Added Items</h2>
    <div class="carousel-container">
        
        <div class="carousel-slide active">
            <div class="slide-content">
                <h3>Gaming Console</h3>
                <p>PS5 for rent - $10/day</p>
            </div>
        </div>
        <div class="carousel-slide">
            <div class="slide-content">
                <h3>Formal Suit</h3>
                <p>Perfect for interviews - $5/day</p>
            </div>
        </div>
        <div class="carousel-slide">
            <div class="slide-content">
                <h3>Chemistry Textbook</h3>
                <p>CHEM 101, latest edition - $2/day</p>
            </div>
        </div>

        <button class="carousel-btn prev" id="carousel-prev">&lt;</button>
        <button class="carousel-btn next" id="carousel-next">&gt;</button>

        <div class="carousel-dots" id="carousel-dots">
            <span class="dot active" data-slide="0"></span>
            <span class="dot" data-slide="1"></span>
            <span class="dot" data-slide="2"></span>
        </div>
    </div>
</section>

  <!-- category Section -->
  <section class="browse-section">
  <h2>Browse by Category</h2>
  <div class="categories">
    <div class="category-card">
      <img src="images/electronics.jpg" alt="Electronics">
      <h3>Electronics</h3>
    </div>
    <div class="category-card">
      <img src="images/books.jpg" alt="Books">
      <h3>Books</h3>
    </div>
    <div class="category-card">
      <img src="images/tools.jpg" alt="Tools">
      <h3>Tools</h3>
    </div>
    <div class="category-card">
      <img src="images/accessories.jpg" alt="Accessories">
      <h3>Accessories</h3>
    </div>
  </div>
</section>



  <script src="../js/main.js"></script>
</body>
</html>
